body {
  text-align: center;
}

h1 {
font-family: Helvetica;
font-size: 70px;
font-weight: bold;
color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

h3.white {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

div.header {
  height: 290px;
  background-image: url("../images/the-flatiron-building.png");
}

a {
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

div.info {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

div.footer {
  font-family: Helvetica;
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;
}
