html, body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
font-size: 70px;
font-weight: bold;
color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h3.white {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

p {
  font-size: 14px;
}

div.header {
  height: 290px;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

a:visited, a:hover, a:active  {
  text-decoration: none;
  color: white;
}

a:link {
    text-decoration: underline;
}

a.contact {
  text-decoration: none;
  color: black;
}

ul.nav {
  color: white;
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.top {
  display: block;
}

li.bottom {
    display: inline;
}

div.info {
  font-size: 23px;
  font-weight: bold;
}

div.footer {
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;
}
